<div class="character-tray">

  <div class="resource-bar">
{{> "AAT.resource-tray" }}
  </div>

  <div class="main-tray">

    <div class="character-image">
      {{> "AAT.character-tray" }}
    </div>

 



    <div class="weapon-container">
  {{> "AAT.equip-tray" }}
    </div>


 <div class="current-tray">


{{#each staticTrays as |tray|}}
{{#if tray.active}}
  <div class="abilities-tray static-tray {{{tray.id}}}">
 {{>  "AAT.full-tray" tray=tray}}
  
    </div>
{{/if}}
{{/each}}

{{#each customTrays as |tray|}}
{{#if tray.active}}
  <div class="abilities-tray custom-tray {{{tray.id}}}">
 {{>  "AAT.full-tray" tray=tray}}
  
    </div>
{{/if}}
{{/each}}




</div>  

<div>

  {{> "AAT.skill-tray" }}

</div>

    <div class="end-turn">
       {{> "AAT.turn-tray" }}
    </div>

  </div>


  <div class="type-bar ">
    {{#each customTrays as |tray|}}
        {{> "AAT.type-tray" tray=tray}}
    {{/each}}
  </div>


  

</div>