<div class="character-tray">
  {{!-- {{> "AAT.header" }} --}}
  <!-- Character Image -->
  <div class="resource-bar">
{{> "AAT.resource-tray" }}
  </div>

  <div class="main-tray">

    <div class="character-image">
      {{> "AAT.character-tray" }}
    </div>

    <div class="divider"></div>



    <div class="weapon-section">
  {{> "AAT.equip-tray" }}
    </div>

    <div class="divider"></div>

 <div class="current-tray">
 {{!-- <div class="abilities-tray">
  {{> (lookup . "currentTrayTemplate") }}
    </div> --}}

{{#each staticTrays as |tray|}}
{{#if tray.active}}
  <div class="abilities-tray static-tray {{{tray.id}}}">
 {{>  "AAT.full-tray" tray=tray}}
  
    </div>
{{/if}}
{{/each}}

{{#each customTrays as |tray|}}
{{#if tray.active}}
  <div class="abilities-tray custom-tray {{{tray.id}}}">
 {{>  "AAT.full-tray" tray=tray}}
  
    </div>
{{/if}}
{{/each}}




</div>  
    <div class="divider"></div>


    <div class="end-turn">
       {{> "AAT.turn-tray" }}
    </div>

  </div>


  <div class="type-bar ">
    {{#each customTrays as |tray|}}
        {{> "AAT.type-tray" tray=tray}}
    {{/each}}
  </div>


  

</div>