
<div class="ability-sections  .{{{tray.id}}} " data-data-id="{{{tray.id}}}" >
  

 
    <div style = "width: {{totalWidthPx}}px">
  <ol>
    {{#each tray.abilities as |item|}}
        {{#indexRange '0' @index @root.totalabilities }}
      {{> AAT.item item=item index=@index  }}
        {{/indexRange}}
    {{/each}}
    
  </ol>
    </div>


</div>