{{#each staticTrays as |tray|}}
  <div class='resource-spell-level-container'>

    <div
      class='resource-container'
      data-id='{{this.id}}'
      data-action='setTray'
      data-index={{@index}}
      data-type='static'
    >{{{getIcon tray}}}
    </div>
    <div class='resource-spell-level'>{{@root.spellLevel}}</div>
  </div>
{{/each}}

{{! <button
  class="resource-btn"
  data-id="action"
  data-action="setTray"
>Action</button>
<button class="resource-btn" data-id="bonus" data-action="setTray">Bonus Action</button>
<button
  class="resource-btn"
  data-id="class"
  data-action="setTray"
>Class</button>
<button
  class="resource-btn"
  data-id="spell"
  data-action="setTray"
>Spells</button> }}