<button
  class='type-btn'
  data-id='common'
  data-action='setTray'
  data-type='custom'
>Common</button>

<button
  class='type-btn'
  data-id='classFeatures'
  data-action='setTray'
  data-type='custom'
>Class</button>
<button
  class='type-btn'
  data-id='items'
  data-action='setTray'
  data-type='custom'
>Items</button>
<button
  class='type-btn'
  data-id='custom'
  data-action='setTray'
  data-type='custom'
>Custom</button>